<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/main.css" th:href="@{/style/main.css}" type="text/css">
    <title>Document</title>
</head>
<body>

    <div class="formulario">
        <h1>Exito pudiste ingresar el producto</h1>
    </div>
    <br>

    <div class="regresar">
        <a href="/producto">Regresar</a>
    </div>
</body>
</html>