<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/main.css" th:href="@{/style/main.css}" type="text/css">
    <title>Ingresar producto</title>
</head>

<body>
    <div class="formulario">
        <h1>Ingresar Producto</h1>
        <form th:action="formProducto" th:object="${producto}" method="post">
            <label for="nombre">Nombre del producto: </label>
            <input type="text" name="nombre" id="nombre" th:field="*{nombre}">
            <span th:errors="*{nombre}" style="color: red;"></span>
            <br>
            <br>
            <label for="descripcion">Descripcion del producto: </label>
            <input type="text" name="descripcion" id="descripcion" th:field="*{descripcion}">
            <span th:errors="*{descripcion}" style="color: red;"></span>
            <br>
            <br>
            <label for="precio">Precio del producto: </label>
            <input type="text" name="precio" id="precio" th:field="*{precio}">
            <span th:errors="*{precio}" style="color: red;"></span>
            <br>
            <br>
            <label for="fechaVencimiento">Fecha de vencimiento del producto: </label>
            <input type="text" name="fechaVencimiento" id="fechaVencimiento" th:field="*{fechaVencimiento}">
            <span th:errors="*{fechaVencimiento}" style="color: red;"></span>
            <br>
            <br>
            <div class="envio">
                <input type="submit" value="Agregar producto" class="agregar">
            </div>
        </form>
    </div>
</body>

</html>