<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/main.css" th:href="@{/style/main.css}" type="text/css">
    <title>Seguridad</title>
</head>

<body>
    <div class="formulario">
        <form th:action="@{/seguridad}" th:object="${robot}" method="POST">

            <div class="robot">
                <label for="robot">Marcar si eres un robot. </label>
                <input type="radio" th:field="*{soyRobot}" th:value="*{false}">
            </div>
            <span th:errors="*{soyRobot}" style="color: red;"></span>
            <br>

            <div class="envio">
                <input type="submit" value="Aceptar" class="agregar">
            </div>
        </form>
    </div>
    <br>
    <div class="regresar">
        <a href="/producto">Regresar</a>
    </div>
</body>

</html>